*{
    margin: 0;
    padding: 0;   
   }
body{
   width: 100%;
   color: black;
   text-align: center;
   min-height: 100vh;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   }
img{
    border-style: solid;
    border-width: 3px;
    border-color: #000;
    box-shadow: 0px 15px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
ol{
    list-style: none;
}
h3{
    margin: 2px;
}
hr{
    margin: 10px;
    
}
.curs{
    list-style: square;
    text-align: left;
    margin-left: 2%;
}
.b{
    font-weight: bold;
    margin-bottom: 2px;
}
.container{
      width: 60%;
      background-color: white;
      overflow-y: scroll;
      height: 90vh;
      padding: 15px 2%;
      box-shadow: 0 0 5px #069;
      position: absolute;
      top: 3%;
      left: 15%;
  }
@media(max-width: 1340px) {
    .container {
        max-width: 1100px;
    }
}

@media(max-width: 1240px) {
    .container {
        padding: 0 var(--gutter-medium);
    }
}

@media(max-width: 600px) {
    .container{
        padding: 0 var(--gutter-normal);
    }
}

@media(max-width: 600px) {
    .container {
        padding: 0 var(--gutter-small);
    }
}

.container::-webkit-scrollbar{
      width: 14px;
      border: 1px solid #069;
  }
.container::-webkit-scrollbar-thumb{
      background-color: #069;
      border-radius: 6px;
  }
.hr_dados1{
   border-top: medium dashed black;
   border-bottom: medium dashed black;
   color: #069;
   height: 5px;
   overflow: visible;
   padding: 2;
   text-align: center;
 }
.hr_dados1::after {
   content: "Carlos Caldeira Carvalho Junior";
   display: inline-block;
   position: relative;
   top: -0.7em;
   font-size: 1.4em;
   padding: 0 0.3em;
   background: white;
   border-style: solid;
   border-width: 3px;
   border-color: #000;
 }
.hr_01{
   border-top: medium dashed black;
   border-bottom: medium dashed black;
   height: 3px;
   overflow: visible;
   padding: 0;
   text-align: center;
 }
.hr_01::after{
    content: 'Objetivo';
    display: inline;
    position: relative;
    top: -0.7em;
    font-size: 1.4em;
    padding: 0 0.3em;
    background-color: #fff;
 }
.hr_02{
   border-top: medium dashed #069;
   border-bottom: medium dashed #069;
   height: 3px;
   overflow: visible;
   padding: 0;
   text-align: center;
   }
.hr_02::after{
   content: 'Resumo';
   display: inline;
   position: relative;
   top: -0.7em;
   font-size: 1.4em;
   padding: 0 0.3em;
   background-color: #fff;
   }
.hr_03{
   border-top: medium dashed #069;
   border-bottom: medium dashed #069;
   height: 3px;
   overflow: visible;
   padding: 0;
   text-align: center;
  }
 .hr_03::after{
  content: 'Formação';
  display: inline;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background-color: #fff;
 }
.hr_04{
   border-top: medium dashed #069;
   border-bottom: medium dashed #069;
   height: 3px;
   overflow: visible;
   padding: 0;
   text-align: center;
  }
.hr_04::after{
  content: 'Experiência';
  display: inline;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background-color: #fff;
 }
.hr_05{
   border-top: medium dashed #069;
   border-bottom: medium dashed #069;
   height: 3px;
   overflow: visible;
   padding: 0;
   text-align: center;
 }
.hr_05::after{
 content: 'Ferramentas';
 display: inline;
 position: relative;
 top: -0.7em;
 font-size: 1.4em;
 padding: 0 0.3em;
 background-color: #fff;
 }
.hr_06{
   border-top: medium dashed #069;
   border-bottom: medium dashed #069;
   height: 3px;
   overflow: visible;
   padding: 0;
   text-align: center;
 }
.hr_06::after{
  content: 'Idiomas';
  display: inline;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background-color: #fff;
 }
 .hr_07{
   border-top: medium dashed #069;
   border-bottom: medium dashed #069;
   height: 3px;
   overflow: visible;
   padding: 0;
   text-align: center;
 }
.hr_07::after{
   content: 'Linguagens';
   display: inline;
   position: relative;
   top: -0.7em;
   font-size: 1.4em;
   padding: 0 0.3em;
   background-color: #fff;
   }
.hr_08{
   border-top: medium dashed #069;
   border-bottom: medium dashed #069;
   height: 3px;
   overflow: visible;
   padding: 0;
   text-align: center;
 }
.hr_08::after{
  content: 'Redes Sociais';
  display: inline;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background-color: #fff;
  }
.fab{
  cursor: pointer;
  margin: 5px;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  }
.fab:hover{
   -webkit-transform: scale(1.5);
   -moz-transform: scale(1.5);
   transform: scale(1.5);
   color: #000;
   }
.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #1e111d;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
